section#formulario{
  display: flex;
  justify-content: center;
  
}


.animated-border {
  
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}


form.form::before {
  --angle:0deg;
  content: '';
  position: absolute;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding:4px;
  border-radius: 1rem;
  background-image: conic-gradient(from var(--angle), transparent 75%,#0015ff );
  z-index: -1;
  filter: blur(1rem);
  opacity: 0.2;
  animation: 5s girar linear infinite;
  transition: 1s;
}

form.form:hover::before {
  opacity: 0.8;
  padding: 5px;
}



@keyframes girar{

  form{
    --angle: 0deg;
  }

  to{
    --angle: 360deg;
  }
}

form.form{
  position: relative;
  min-width: 50vw;
  background-color: #666;
  border: solid 1px transparent;
  border-radius: 1rem;
  margin-top: 2rem;
  padding: 2rem;
  transition: 1s;
}

form:hover {
  background-color: #343458;
}

.form-control,
.form-select {
  background-color: #333;
  color: #fff;
  transition: 300ms;
}


.form-control:focus,
.form-select:focus {
  outline: #000dff 2px solid;
  border: 1px solid #000dff60;
  box-shadow: none;
  background-color: #222;
  color: #fff;
}

.form-label {
  color: #fff;
  font-size: 20px;
}
span.input-group-text {
  transition: 300ms;
}

span.input-group-text:hover {
  border-color: #000dff;
}

button.btn{
  color: #fff;
  background-color: #000ac192;
  transition: 500ms;
}

button.btn:hover{
  color: #fff;
  background-color: #000dffd1 ;
}