section#listagem{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
}

select.form-select#ordenacao{
    width: auto;
    margin-bottom:1rem;
}

table.table{
    width: 50vw;
    border: 2px solid black;
}

table th{
    text-align: center;
}
